<div class="form_fb" [formGroup]="detailsform_fb">
  <h2>Details Form(FormBuilder)</h2>
  <label for="Name">Name</label>
  <input id="Name" type="text" formControlName="Name" />
  <span
    class="error"
    *ngIf="
      (detailsform_fb.get('Name').touched ||
        detailsform_fb.get('Name').dirty) &&
      detailsform_fb.get('Name').errors
    "
  >
    <span *ngIf="detailsform_fb.get('Name').errors.required">
      Name is required
    </span>
    <span
      *ngIf="
        detailsform_fb.get('Name').errors.minlength ||
        detailsform_fb.get('Name').errors.maxlength
      "
    >
      Name must be greater than 3 characters and less than 10 characters
    </span> </span
  ><br />
  <label for="School">School</label>
  <input id="School" type="text" formControlName="School" />
  <span
    class="error"
    *ngIf="
      (detailsform_fb.get('School').touched ||
        detailsform_fb.get('School').dirty) &&
      detailsform_fb.get('School').errors
    "
  >
    <span *ngIf="detailsform_fb.get('School').errors.required">
      School is required
    </span>
    <span
      *ngIf="
        detailsform_fb.get('School').errors.minlength ||
        detailsform_fb.get('School').errors.maxlength
      "
    >
      School must be greater than 3 characters and less than 10 characters
    </span> </span
  ><br />
  
  <label for="sport">Sport</label>

  <label>
    <input
      id="sport"
      type="radio"
      value="cricket"
      formControlName="sports"
    />Cricket
  </label>
  <label>
    <input
      id="sport"
      type="radio"
      value="football"
      formControlName="sports"
    />football </label
  ><br />

  <button style="margin-left:30%"(click)="handleAddAddress()">Add Address</button>

  <div
      formArrayName="Address"
        *ngFor="let addr of detailsform_fb.get('Address').controls; let i = index"
        class="address"
       >
      <h3>Address{{i}}</h3>
      <div [formGroupName]="i">
      <label for="Street+${i}">Street</label>
      <input id="Street+${i}" type="text" formControlName="Street" /><br />
      <label for="Landmark+${i}">Landmark</label>
      <input id="Landmark +${i}" type="text" formControlName="Landmark" />
    </div>
  </div>
  <br />
  <button (click)="showDetails_fb()">Show Details</button>

  <span>{{ details_fb }}</span>
</div>
